/* Colors used:
Light green #b9e49b
Dark green  #3faa64
Light purple  #e8d7f4
Dark purple #c3a8d6
Off-white #f3f1f0
Off-black #363636
*/

* {
  box-sizing: border-box;
}

body {margin: 0; padding: 0; font-size: 100%; line-height: 1.6}
h1, h2, h3, h4 {margin: 1em 0 .5em; line-height: 1.4}
h1 {font-size: 2.75em}
h2 {font-size: 2.5em}
h3 {font-size: 2.25em}
ul, ol {margin: 1em 0; padding-left: 40px}
p, figure {margin: 1em 0}
a img {border: none}
sup, sub {line-height: 0}

body {
  background-color: #f3f1f0;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #4a4a4a;
}

header {
  background-color: #b9e49b;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 8px 5px 0px rgba(50, 118, 50, 0.6);
  position: fixed;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

.logo {
  max-width: 100px;
}

.social-links img {
  display: inline;
  width: 50px;
  margin: 10px;
}

a {
  color: #3faa64;
  text-decoration: none;
}

a:visited {
  color: #363636;
}

a:hover {
  color: #c3a8d6;
  text-decoration: underline;
}

a:focus {
  color: #c3a8d6;
  text-decoration: underline;
}

a:active {
  color: #e8d7f4;
}

.button {
  display: inline-block;
  background-color: #b9e49b;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #3faa64;
  margin: 10px 0;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #c3a8d6;
  text-transform: uppercase;
  border: 2px solid #000000;
  display: inline;
  width: full;
  margin: 10px;
}

.button.contact:hover {
  background-color: #c3a8d6;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 10px;
  max-width: 1080px;
  margin: 0 auto;
}

.row {
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#hero h1 {
  text-align: center;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #363636;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul > li > a:visited {
  color: #363636;
}

nav > ul > li > a:hover {
  color: #c3a8d6;
}

nav > ul > li > a:active {
  color: #3faa64;
}

#hero {
  background-color: #f3f1f0;
  padding: 20px 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero span {
  display: block;
}

main {
  margin-top: 190px;
}

#work {
  background-color: #f3f1f0;
}

footer {
  background-color: #e8d7f4;
  padding: 10px;
  text-align: center;
  border-top: 4px;
  border-color: #c3a8d6;
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

#contact ul {
  list-style-type: none;
  padding: 0;
}

#contact ul > li {
  display: inline;
  text-align: center;
}

.button.contact {
  display: inline-block;
}

.about.me img {
  max-width: 300px;
  padding: 15px;
}

#contact .container {
  display: inline;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline > li {
  display: inline;
}

[class*="col-"] {
  float: left;
  padding: 0 20px;
}

/*==============================
COFFEE ANIMATION
==============================*/
.coffee-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.power {
  animation: scale-up-ver-bottom 8s steps(6, end) infinite forwards, color-change 8s infinite alternate linear;
}

@keyframes color-change {
  0% {fill: #E2472B;}
  50% {fill: #ffea00;}
  100% {fill: #00e600;}
}

@keyframes scale-up-ver-bottom {
  0% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
  100% {
    transform: scaleY(1.4);
    transform-origin: 0% 100%;
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

header {
  text-align: unset;
  padding-left: 50px;
}

nav {
  width: auto;
  float: right;
  margin-top: 20px;
}

main {
  padding-top: 99px;
  font-size: 18px;
  margin-top: 99px;
}

#hero {
  padding: 20px 50px;
}

.col-md-6 {
  width: 50%;
}

#about-page h3 {
  margin-top: 0;
}
}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.col-lg-4 {
  width: 33.33%;
}

.col-lg-5 {
  width: 41.66%;
}

.col-lg-7 {
  width: 58.33%;
}

.col-lg-8 {
  width: 66.66%;
}
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

nav {
    width: auto;
    float: right;
    margin-top: 20px;
  }

  main {
    font-size: 20px;
  }

.container {
    max-width: 1400px;
    margin: 0 auto;
  }
}
