/* Colors used:
Light green #b9e49b
Dark green  #3faa64
Light purple  #e8d7f4
Dark purple #c3a8d6
Off-white #f3f1f0
Off-black #363636
*/

<link href="https://fonts.google.com/share?selection.family=Rubik:wght@400;700" rel="stylesheet">

body {
  background-color: #f3f1f0;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

.logo {
  width: 100px;
}

a {
  color: #3faa64;
  text-decoration: none;
}

a:visited {
  color: #363636;
}

a:hover {
  color: #c3a8d6;
  text-decoration: underline;
}

a:focus {
  color: #c3a8d6;
  text-decoration: underline;
}

a:active {
  color: e8d7f4;
}

.button {
  display: inline-block;
  background-color: #b9e49b;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #3faa64;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #c3a8d6;
  text-transform: uppercase;
  border: 2px solid #000000
}

.button.contact:hover {
  background-color: #c3a8d6;
  color: #ffffff;
}
