/* Colors used:
Light green #b9e49b
Dark green  #3faa64
Light purple  #e8d7f4
Dark purple #c3a8d6
Off-white #f3f1f0
Off-black #363636
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #f3f1f0;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #4a4a4a;
}

header {
  background-color: #b9e49b;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 8px 5px 0px rgba(50, 118, 50, 0.6);
  position: fixed;
  display: inline-block;
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

.logo {
  max-width: 100px;
}

.social-links {
  width: 50px;
}

a {
  color: #3faa64;
  text-decoration: none;
}

a:visited {
  color: #363636;
}

a:hover {
  color: #c3a8d6;
  text-decoration: underline;
}

a:focus {
  color: #c3a8d6;
  text-decoration: underline;
}

a:active {
  color: #e8d7f4;
}

.button {
  display: inline-block;
  background-color: #b9e49b;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #3faa64;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #c3a8d6;
  text-transform: uppercase;
  border: 2px solid #000000;
}

.button.contact:hover {
  background-color: #c3a8d6;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
  max-width: 1300px;
  margin: 0 auto;
}

.row {
  margin: 25px 0;
}

#hero h1 {
  text-align: center;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #363636;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul > li > a:visited {
  color: #363636;
}

nav > ul > li > a:hover {
  color: #c3a8d6;
}

nav > ul > li > a:active {
  color: #3faa64;
}

#hero {
  background-color: #f3f1f0;
  padding: 20px 50px;
  display: inline-block;
  width: 100%;
}

main {
  margin-top: 190px;
}

#work {
  background-color: #f3f1f0;
}

footer {
  background-color: #e8d7f4;
  padding: 10px;
  text-align: center;
  border-top: 4px;
  border-color: #c3a8d6;
  position: relative;
  display: inline-block;
  width: 100%;
}

#contact ul {
  list-style-type: none;
  padding: 0;
}

#contact ul > li {
  display: inline;
  text-align: center;
}

.button.contact {
  display: inline-block;
}

.about.me {
  max-width: 300px;
  float: left;
  padding: 15px;
}

#contact .container {
  display: inline;
}


.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline > li {
  display: inline;
}
